<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Reversi_Online.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Reversi_Online.Properties.Settings>
            <setting name="machine_level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="duration_min" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="board_size" serializeAs="String">
                <value>8, 8</value>
            </setting>
            <setting name="playing_color" serializeAs="String">
                <value>random</value>
            </setting>
            <setting name="board_colorA" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="board_colorB" serializeAs="String">
                <value>215, 188, 156</value>
            </setting>
            <setting name="board_white_stone_image_ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="board_black_stone_image_ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offline_game_time_control" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="offline_user_name" serializeAs="String">
                <value>You</value>
            </setting>
            <setting name="offline_opponents_name" serializeAs="String">
                <value>Opponent</value>
            </setting>
        </Reversi_Online.Properties.Settings>
    </userSettings>
</configuration>